{% extends 'base.html' %}

{% block title %}Список штрафов{% endblock %}

{% block content %}




<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">

<form class="form-s" action="{% url 'fine_url' %}" method="get">
  <input class="input_text" name="text" type="search" required value="{{data.search_v}}">
  <button class="fa fa-search" name="search"></button>
</form>



<div class="container">
  {% for fine in data.fines %}
  <div class="card">
    <div class="background-img-white">
      <div class="background-img"style="background-image: url({{fine.picture_url}});">
        <div class="background-img-black">
          <div class="box">

            <form action="{% url 'HideCard_url' fine.fine_id %}" method="post">
              {% csrf_token %}
              <button type="submit" class="cl-btn-1">
                <div>
                  <span class="left">
                    <span class="circle-left"></span>
                    <span class="circle-right"></span>
                  </span>
                  <span class="right">
                    <span class="circle-left"></span>
                    <span class="circle-right"></span>
                  </span>
                </div>
              </button>
            </form>
            
                  <div class="content">
                        <h2>{{fine.price}}₽</h2>
                        <h3>{{fine.title}}</h3>
                        <h3><div><a href="{% url 'fine_url' fine.fine_id %}">Подробнее</a> </div></h3>
                  </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  {% endfor %}
</div>


{% comment %} <form action="sendText" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <input name="text" type="text"><br><br>
    <input class="button" type="submit" value="BUTTON" >
</form> {% endcomment %}


{% endblock %}