{% extends 'base.html' %}

{% block title %}Список штрафов{% endblock %}

{% block content %}




<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">

<form  action="{% url 'order_url' %}" method="get">
  <input class="input_text" name="text" type="search" required value="{{data.search_v}}">
  <button class="fa fa-search" name="search"></button>
</form>


<div class="container">
    {% for order in data.orders %}
    <div class="card">
      <div class="box">
        <div class="content">
          <h2>{{ order.price }}</h2>
          <h3>{{order.short_text}}</h3>
          <h3>{% include 'order_element.html' with element=order %}</h3>
        </div>
      </div>
    </div>
    {% endfor %}
</div>
</div>


{% comment %} <form action="sendText" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <input name="text" type="text"><br><br>
    <input class="button" type="submit" value="BUTTON" >
</form> {% endcomment %}


{% endblock %}